<app-header titulo="Ions Cards"></app-header>

<ion-content>

<!--Tarjeta creada por Mi-->

<ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-contect>
      El Ministerio Público reforzó la investigación enfocada en las evidencias con las que imputará a posibles responsables en el siniestro de la planta envasadora de gas que explotó en el municipio Licey al Medio, provincia Santiago, y que provocó la muerte de al menos 12 personas.
    </ion-card-contect>
    <ion-card>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71%2BhsDauemL._AC_SX466_.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <ion-card-contect>
          El Ministerio Público reforzó la investigación enfocada en las evidencias con las que imputará a posibles responsables en el siniestro de la planta envasadora de gas que explotó en el municipio Licey al Medio, provincia Santiago, y que provocó la muerte de al menos 12 personas.
    </ion-card-contect>
    </ion-card>

</ion-card>




<!--primera tarjeta , tarjeta basica-->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


<!--Segunda tarjeta , tarjeta con Ion- Items-->
<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>ion-item in a card, icon left, button right</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>



<!--Tercera Tarjeta , tarjeta con IonItems y varios iconos-->

<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Card Link Item 1 activated</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Card Link Item 2</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Card Button Item 1 activated</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
</ion-card>



</ion-content>
